* {
  margin: 0;
  padding: 0;
}

html {
  background-color: hsl(233, 47%, 7%);
}

body {
  margin: 100px 200px;
  max-width: 1000px;
}
#container {
  display: flex;
  flex-direction: row;
  background-color: hsl(244, 38%, 16%);
}

#first-half {
  width: calc(100% / 2);
  text-align: left;
}

.block {
  margin-left: 10px;
}

h2 {
  color: hsl(0, 0%, 100%);
  padding: 2em 2em;
}

span {
  color: hsl(277, 64%, 61%);
}
p {
  color: hsla(0, 0%, 100%, 0.6);
  padding: 2em 3em;
}
h3 {
  color: hsl(0, 0%, 100%);
}
.block {
  padding: 2em 2em;
}
.foot {
  text-transform: uppercase;
  padding: 1em 0;
  color: hsla(0, 0%, 100%, 0.6);
}

#second-half {
  width: calc(100% / 2);
  accent-color: hsl(277, 64%, 61%);
}

#low-section {
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
  min-height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    margin: 100px 200px;
    max-width: 500px;
  }
  #container {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0.5em;
  }
  #second-half {
    width: 100%;
  }

  img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  #first-half {
    padding: 0;
    align-self: center;
  }

  h2 {
    padding: 1em 0em;
  }

  p {
    padding: 1em 0em;
  }

  .block {
    padding: 1em 0em;
  }

  #low-section {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .foot {
    padding: 0em;
  }
}
